# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Build byproducts
build
package*.txt
dist.txt
/*.pkg
/*.app.zip
/FAHViewer

# generic files to ignore
*~
*.lock
*.DS_Store
*.swp
*.out

# Compiled python
*.pyc

# Backup files
*~

# Scons
.sconf_temp
.sconsign.dblite
config.log
